*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./istockphoto-1132760719-170667a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode:color-burn;
 }
 header{
    height: 100vh;
 }
 .parentheader1{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    gap: 100px;
 }
 .childheader1{
    color: white;
 }
 .childheader2{
    margin-right: 50px;
 }
 .childheader2 a{
    color: #a5a9ab;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
 }
 .childheader2 a:hover{
    color: white;
    border-bottom: 2px orange solid;
 }
 .parentheader2{
    margin: auto;
    width: 400px;
    height: 600px;
    margin-top: 70px;
 }
 .childheader3{
    font-size: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 5px orange solid;
 }
 .childheader4{
    color: white;
    margin-top: 20px;
    width: 520px;
    text-align: center;
    position: relative;
    right: 60px;
 }
 .childheader4 p{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 24px;
 }
 .childheader4 button{
    margin-top: 40px;
    height: 60px;
    width: 160px;
    border-radius: 20px;
    border: 3px solid orange;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
 }
 .childheader4 button:hover{
    background-color: orange;
 }
 .section1{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    justify-content: space-around;
 }
 .childsection1{
    background-color: white;
    width: 500px;
    margin-top: 200px;
    height: 300px;
 }
 .childsection1 h1{
    border-bottom: 4px solid orange;
    margin-bottom: 20px;
    padding-bottom: 20px;
 }
 .childsection1 p{
    color: #8d8e8f;
 }
 .childsection2{
    width: 450px;
    height: 550px;
    padding: 20px;
 }
 .childsection2 input{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    border: #8d8e8f 1px solid;
    border-radius: 5px;
 }
 textarea{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: #8d8e8f 1px solid;
border-radius: 5px;
 }
 .childsection2 button{
    background-color: orange;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 35%;
    margin-top: 10px;
 }
 .section2{
   width: 100%;
   height: auto;
   margin-top: 50px;
 }
 .headingsection2{
   text-align: center;
   padding-top: 10px;
   width: 700px;
   margin: auto;
 }
 .headingsection2 p{
   font-size: 20px;
 }
 .child1section2{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 40px;
}
 .card{
   width: 600px;
   height: 400px;
   margin-right: 10px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow:  1px 1px 4px  black;
   margin-bottom: 20px;
   display: flex;
 }
.card img{
   height: 100%;
   width: 300px;
}
.cardtext{
   width: 250px;
   text-align: justify;
   justify-content: space-between;
   margin: auto;
}
.section3{
   margin-top: 200px;
   width: 100%;
   height: 700px;
}
.headingsection3{
   text-align: center;
   padding-top: 10px;
   width: 700px;
   margin: auto;
 }
 .headingsection3 p{
   font-size: 20px;
 }
 .child1section3{
   display: grid;
   grid-template-columns: repeat(3, 500px);
 }
 .child1section3 div{
   width: 250px;
   height: 200px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 100px;
 }
 .child1section3 div h1{
   margin-top: 20px;
   margin-bottom: 20px;
   border-bottom: 5px rgba(128, 128, 128, 0.3) solid;
 }
 .child1section3 div:hover h1{
   border-bottom: 5px orange solid;

 }
 .child1section3 div p{
   margin-bottom: 20px;
 }
 .child1section3 div a{
    color: yellow;
    margin-right: 10px;
    text-decoration: none;
   }
   .icon{
     font-size: 5;
   }
   .icon2{
   color: yellow;
   font-size: 20px;
   }
   .section4{
      display: flex;
      margin-top: 100px;
      padding: 100px;
      gap: 5rem;
   }
   .orangediv{
      background-color: orange;
      width: 100px;
      height: 5px;
      margin-top: 20px;
   }
   .child2section4{
      width: 600px;
   }
   .paragraph{
      width: 490px;
      font-size: 20px;
      margin-top: 20px;
   }
   .smallchilds{
      width: 500px;
      margin: auto;
      margin-bottom: 20px;
   }
   .smallchilds:nth-last-of-type(1){
      margin-bottom: 0px;
   }
   .smallchilds h2{
      margin-bottom: 10px;
      margin-left: 20px;
   }
   .smallchilds p{
      margin-left: 20px;

   }
   .icon3{
      font-size: 30px;
      position: relative;
      top: 40px;
      color: orange;
      padding: 10px;
      right: 50px;
   }
   .smallchilds:hover h2{
      color: orange;
   }
   .smallchilds:hover .icon3{
      background-color: orange;
      color: white;
   }
   .pageup{
      width: 40px;
      height: 40px;
      border-radius: 5%;
      background-color: orange;
      font-size: medium;
      color: white;
      border: none;
      position: fixed;
      right: 15px;
      bottom: 30px;
      z-index: 10;
      align-items: end;
   }
   .child2footer{
      text-align: center;
   }
   footer{
      background-image: url(./footerphoto.jpeg);
      height: 55vh;
      padding: 60px;
      background-color: rgba(0, 0, 0, 0.7);
      background-blend-mode:color-burn;
   }
   .child1footer{
      display: flex;
      justify-content: space-evenly;
      gap: 30px
      ;
   }
   .data h1{
      color: white;
      margin-bottom: 20px;
   }
   .data p{
   color: white;
   margin-bottom: 5px;
   }
   .data p:nth-of-type(2){
      margin-bottom: 20px;
   }
   .icon4{
      margin-top: 15px;
   }
   .icon4 i{
      font-size: 26px;
      margin-right: 5px;
      background-color: rgba(128, 128, 128, 0.2);
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: white;
   }
   .links a{
      display: grid;
      grid-template-columns: repeat(1, 150px);
      margin-top: 15px;
      font-size: 20px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
   }
   .links a:hover{
      color :white;
   }
   .div h3{
      color: white;
   }
   .child2footer p{
      margin-top: 5px;
   }
   .child2footer a{
      text-decoration: none;
      color: orange;
   }
   .child2footer h4{
      margin-top: 20px;
   }
   .child2footer{
      margin-top: 50px;
      color: wheat;
      border-top: 2px solid #8d8e8f;
   }