* {
  border: 0;
  box-sizing: border-box;
}
.parent {
  background-color: yellow;
  height: 600px;
  width: 400px;
}
.child1 {
    background-color: cyan;
    height: 100px;
    width: 100px;
    position: relative;
    left: 20px;
    top: 70px;
}
.child2 {
    background-color: purple;
    height: 100px;
    width: 100px;
    position: sticky;
    top: 140px;
    left: 80px;
    z-index: 5;
}
.child3 {
    background-color: brown;
    height: 100px;
    width: 100px;
    position: sticky;
    top: 50px;
    left: 130px;
}
