* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100vw;
  height: 15vh;
  background-color: #7fffd4;
  position: relative;
}
.header img {
  float: left;
  width: 30vh;
  height: 5vw;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.links {
  float: right;
  position: absolute;
  top: 40px;
  right: 20px;
}
a {
  font-size: 18px;
  margin-right: 20px;
  background-color: red;
  padding: 17px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: black;
  color: white;
}
/* a:visited{
    color: rgb(142, 139, 219);
}
.home1:visited{
    color: rgb(170, 88, 102);
} */
a:active {
  color: rgb(179, 88, 103);
}
p {
  font-size: large;
  word-spacing: 10px;
  letter-spacing: 2px;
  line-height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.icon{
    font-size: 60px;
    text-align: center;
    background-color: lightblue;
    color: red;
    margin-left: 45%;
    margin-top: 20px;
}
button{
    background-color: blue;
    color: aqua;
    border: 1px solid rgb(139, 40, 56);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}