*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./People.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 10;

 }
 header{
    height: 100vh;
 }
 .parentheader1{
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    gap: 100px;
 }
 .childheader1{
    color: white;
 }
 .childheader2{
    margin-right: 50px;
 }
 .childheader2 a{
    color: #a5a9ab;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
 }
 .childheader2 a:hover{
    color: white;
    border-bottom: 2px orange solid;
 }
 .parentheader2{
    margin: auto;
    width: 400px;
    height: 600px;
    margin-top: 70px;
 }
 .childheader3{
    font-size: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 5px orange solid;
 }
 .childheader4{
    color: white;
    margin-top: 20px;
    width: 520px;
    text-align: center;
    position: relative;
    right: 60px;
 }
 .childheader4 p{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 24px;
 }
 .childheader4 button{
    margin-top: 40px;
    height: 60px;
    width: 160px;
    border-radius: 20px;
    border: 3px solid orange;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
 }
 .childheader4 button:hover{
    background-color: orange;
 }
 .section1{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    justify-content: space-around;
 }
 .childsection1{
    background-color: white;
    width: 500px;
    margin-top: 200px;
    height: 300px;
 }
 .childsection1 h1{
    border-bottom: 4px solid orange;
    margin-bottom: 20px;
    padding-bottom: 20px;
 }
 .childsection1 p{
    color: #8d8e8f;
 }
 .childsection2{
    width: 450px;
    height: 550px;
    padding: 20px;
 }
 .childsection2 input{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    border: #8d8e8f 1px solid;
    border-radius: 5px;
 }
 textarea{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: #8d8e8f 1px solid;
border-radius: 5px;
 }
 .childsection2 button{
    background-color: orange;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 35%;
    margin-top: 10px;
 }
 .section2{
   width: 100%;
   height: auto;
   margin-top: 50px;
 }
 .headingsection2{
   text-align: center;
   padding-top: 10px;
   width: 700px;
   margin: auto;
 }
 .headingsection2 p{
   font-size: 20px;
 }
 .child1section2{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 40px;
}
 .card{
   width: 600px;
   height: 400px;
   margin-right: 10px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   box-shadow:  1px 2px 5px  black;
   margin-bottom: 20px;
   display: flex;
 }
.card img{
   height: 100%;
   width: 300px;
}
.cardtext{
   width: 250px;
   text-align: justify;
   justify-content: space-between;
   margin: auto;
}
.section3{
   margin-top: 200px;
   width: 100%;
   height: 700px;
}
.headingsection3{
   text-align: center;
   padding-top: 10px;
   width: 700px;
   margin: auto;
 }
 .headingsection3 p{
   font-size: 20px;
 }
 .child1section3{
   display: grid;
   grid-template-columns: repeat(3, 500px);

 }
 .child1section3 div{
   width: 300px;
   height: 200px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 100px;
 }
 .child1section3 div h1{
   margin-top: 20px;
   margin-bottom: 20px;
   border-bottom: 5px rgba(128, 128, 128, 0.3) solid;
 }
 .child1section3 div:hover h1{
   border-bottom: 5px orange solid;

 }
 .child1section3 div p{
   margin-bottom: 20px;
 }
 .child1section3 div a{
    color: yellow;
    margin-right: 10px;
    text-decoration: none;
   }
   .icon{
     font-size: 30px;
   }
   .icon2{
color: yellow;
font-size: 20px;
   }
   .krug{
      display: flex;
      width: 30px;
      height: 30px;
      background-color: orange;
      border-radius: 50%;
   }