* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rajdhani", sans-serif;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 12vh;
  background-color: rgba(65, 47, 179, 255);
  display: flex;
  justify-content: space-around;
  gap: 100px;
  font-family: "Rajdhani", sans-serif;
}

header img {
  color: white;
  font-weight: 550;
  margin-top: 20px;
  justify-content: flex-start;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 550;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header a:hover {
  opacity: 0.6;
}
header div:nth-of-type(2) {
  width: auto;
  height: 50px;
  word-spacing: 25px;
}
header img {
  margin-top: 15px;
}
header div {
  margin-top: 15px;
}

.buttonfirst {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 550;
  margin-left: 50px;
  color: rgba(0, 0, 128, 0.8);
  background-color: white;
  border: 0px;
  justify-content: flex-end;
  font-family: "Rajdhani", sans-serif;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  z-index: 10;
  position: absolute;
  display: none;
  word-spacing: 10px;
  height: 90px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
  padding-top: 10px;
}
.dropdown-content div {
  width: 200px;
  height: auto;
  margin-top: 0px;
  margin-left: 30px;
}
.dropdown-content div:nth-of-type(1) {
  height: 40px;
  margin-top: -10px;
}
.dropdown-content div:nth-of-type(1):hover {
  background-color: rgb(80, 80, 160);
  color: white;
}
.dropdown-content div:nth-of-type(2) {
  word-spacing: 5px;
  height: 40px;
}
.dropdown-content div:nth-of-type(2):hover {
  background-color: rgb(80, 80, 160);
  color: white;
}
.dropdown-content a {
  text-decoration: none;
  display: block;
  color: black;
  opacity: 0.7;
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 0px;
}
.parent {
  width: 100%;
  height: 70vh;
  margin: auto;
  display: flex;
  padding-left: 120px;
  justify-content: space-between;
  margin-top: 80px;
}
.child1 {
  width: 600px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.child1 div {
  width: 230px;
  background-color: rgba(128, 128, 128, 0.3);
}
.child1 h1 {
  text-align: center;
  opacity: 0.9;
}
.child1 h3 {
  text-align: center;
  font-weight: 550;
  opacity: 0.8;
  margin-top: 10px;
}
.child1 p {
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.7;
  margin-top: 10px;
}
.child1 div:nth-of-type(1) {
  height: 180px;
}
.child1 div:nth-of-type(2) {
  margin-top: 60px;
  margin-left: 80px;
}
.child1 div:nth-of-type(3) {
  height: 180px;
}
.child1 div:nth-of-type(4) {
  margin-top: 60px;
  margin-left: 80px;
}
.child2 img {
  width: 40vw;
  height: 450px;
}
.parent img {
  margin-right: 50px;
}
.parent2 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.box {
  width: 300px;
  height: 460px;
  background-color: rgba(128, 128, 128, 0.3);
  margin-top: 20px;
  transition: all 1s ease 0.5s;
  border-radius: 10px;
}
.box h2,
p,
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box h2 {
  margin-top: 20px;
  font-size: 20px;
}
.box p:nth-of-type(1) {
  opacity: 0.6;
}
.box hr {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 3px;
}
.box:hover {
  transition: 1s;
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 13px black;
}
.true {
  color: green;
  margin-right: 10px;
  opacity: 1;
}
.false {
  color: red;
  margin-right: 10px;
  opacity: 1;
}
.box button {
  background-color: transparent;
  border: 1px solid black;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin-left: 28%;
  margin-top: 20px;
}
.box button:hover {
  color: white;
  background-color: black;
  cursor: pointer;

}
footer {
  background-color: grey;
  height: 160px;
  margin-top: 30px;
}
.firstanimation {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: lime;
  transition: transform 0.5s ease-in 0.5s;
}
.secondanimation {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: lime;
  float: right;
  transition: transform 0.5s ease-in-out 0.5s;
}
footer:hover .firstanimation {
  transform: translateX(2600%);
  transition: 1s;
}
footer:hover .secondanimation {
  transform: translateX(-2600%);
  transition: 1s;
}
.copyright {
  clear: both;
  width: 320px;
  height: 20px;
  margin: auto;
  position: relative;
  top: 40px;
  color: white;
}
